*{
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(to right bottom,rgb(225, 179, 93),#c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #12343b;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
 h1{
  color: #fff;
  text-align: center;
  margin: 30px 0;
}
.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid rgb(225, 189, 122);
  border-radius: 2rem;
}
.button-add{
  margin-right: 2rem;
  width: 70px;
  background-color: #c89666;
  border: 0;
  cursor: pointer;
  margin-left: 2rem;
}

.todo-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 2rem;
}

.list {
  flex: 1;
  margin-right: 20px;
}

.btn-task {
  display: flex;
}

.btn-task button {
  margin-right: 5px;
}
